nav {
    position: absolute;
    background: rgba(36, 36, 37, 0.8);
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(8px);
    height: 70px;
    width: 300px;
    margin-top: 45vh;
}

p {
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 3px;
}

a {
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: left;
    margin-left: 30px;
}